.counter {
    margin-top: 2vh;
    font-size: 1.5em; 
    font-weight: 700;
    font-family: 'Calibri', sans-serif;
    border-radius: 3px;
}

.count:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.count:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.count {
    --backColor: darkgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    background-color: var(--backColor);
    color: white;
    border: solid 2px var(--backColor);
}

.currCount {
    background-color: black;
    border-color: black;
}